label.input-checkbox {
  display: inline-block;
  line-height: 0;
  font-size: 0;
  /*vertical-align: 10em;*/
  /*margin: 10px 0 -10px;*/
  position: relative;
  top: 3px;
  margin-right: 3px;
  margin-bottom: 15px;
}
label.input-checkbox > svg {
  transition: transform 0.2s ease;
  cursor: pointer;
}
label.input-checkbox:active > svg {
  transform: scale3d(0.9, 0.9, 1);
}
label.input-checkbox > input + svg .indeterminate {
  display: none;
}
label.input-checkbox > input + svg .checked {
  display: none;
}
label.input-checkbox > input:checked + svg .unchecked {
  display: none;
}
label.input-checkbox > input:checked + svg .checked {
  display: initial;
}
label.input-checkbox > input + svg path {
  fill: #666;
}
label.input-checkbox > input:checked + svg path {
  fill: #2196f3;
}
label.input-checkbox > input {
  display: block;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

