/*TODO local font*/
/*accordion: добавлять класс в начале раскрытия а не в конце*/

html{
  position: relative;
  height: 100%;
  width: 100%;
  abackground: #fff url(../img/mockup2.png) 100% 0 no-repeat;
}

body, html{
  pointer-events: none;
}
body *{
  pointer-events: auto;
}

#logo{
  display: block;
  /*position: fixed;*/
  margin-top: 20px;
  margin-left: 20px;
  pointer-events: none;
}
#logo img{
  width: 36px;
  height: 36px;
  vertical-align: middle;
}
#logo span{
  vertical-align: middle;
  font-size: 20px;
  margin-left: 6px;
  font-weight: bold;
  color: #000;
}

#accordion{
  /*margin: 96px 0 14px;*/
  /*pointer-events: none;*/
}
#accordion *{
  /*pointer-events: auto;*/
}

#accordion p, #accordion h4{
  margin: 0 0 14px;
}

#object-list{
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
  /*background: red;*/
}

#object-list h4{
  font-size: 20px;
  font-weight: 900;
}

.object{
  margin-left: 20px;
  border-left: 0 solid #EB6145;
  transition: 0.2s linear;
}

.object h4{
  opacity: 0.7;
  transition: 0.2s linear;
  display: inline-block;
}

.object.active{
  border-left-width: 5px;
  padding: 5px 0 0px 20px;
  margin: 0 0 10px 20px;
}

.object.active h4{
  opacity: 1;
}

.accordion-toggle{
  cursor: pointer;
}

.accordion-toggle img{
  margin-left: 5px;
  width: 18px;
}

.accordion-toggle .locked{
  font-size: 15px;
  font-weight: normal;
}

.object>div{
  margin: 0px 0 0px;
  font-size: 15px;
  opacity: 0.8;
}

.object input[type="text"]{
  height: 25px;
  width: 50px;
  margin-right: 10px;
  text-align: center;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important; 
}
.object input[type="checkbox"]+label{
  margin-bottom: 10px;
}

#users{
  position: fixed;
  right: 20px;
  top: 20px;
  pointer-events: none;
}
#users img{
  margin-left: 5px;
}

.btn-floating.btn-large i{
  font-family: Roboto-Bold;
  font-weight: bold;
  font-size: 30px;
  margin-top: 3px;
  /*position: relative;*/
  /*top: 8px;*/
}
#add-box i, #add-sphere i{
  text-indent: -9999px;
  background: white;
  margin-top: 9px;
  width:  18px;
  height: 18px;
  display: inline-block;
}
#add-sphere i{
  border-radius: 1000px;
  margin-top: 8px;
  width:  21px;
  height: 21px;
}

#renderCanvas, video{
  touch-action: none;
  display: block;
  position: fixed;
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
video{
  z-index: -2;
}
